RAG_PinconeDB.json
{
  "name": "RAG_PinconeDB",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        -60
      ],
      "id": "36ab4e61-8982-4506-a780-60c1c9d68116",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1bXJRrx6h6YGC9kHjO_MW8IENp2bvpdOF",
            "mode": "list",
            "cachedResultName": "YOUR_FOLDER_NAME",
            "cachedResultUrl": "YOUR_FOLDER_URL"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -200,
        -60
      ],
      "id": "5676e8d9-c4e7-46e8-a61e-86c30b747487",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "H7gBYI0882wHbHuj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        20,
        -60
      ],
      "id": "525c8369-2f51-483e-a7d2-9c0029a15cda",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "H7gBYI0882wHbHuj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "sahaindex",
          "mode": "list",
          "cachedResultName": "sahaindex"
        },
        "options": {
          "pineconeNamespace": "itemdb"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        240,
        -60
      ],
      "id": "c7ad812c-d63b-4676-a78d-8597ad1e6d39",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "FKyDf2QQhYrYEhF8",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        140,
        140
      ],
      "id": "1a114189-f76b-42cd-8aa8-2a7904cb6641",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "wdAL111QdeNmFdyx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        280,
        140
      ],
      "id": "a32d2a1d-03f1-469b-8d6b-6faa270716b7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        280,
        300
      ],
      "id": "5948333c-f7d5-4f5c-bb02-65bf83ce8165",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1bXJRrx6h6YGC9kHjO_MW8IENp2bvpdOF",
          "mode": "list",
          "cachedResultName": "YOUR_FOLDER_NAME",
          "cachedResultUrl": "YOUR_FOLDER_URL"
        },
        "event": "watchFolderUpdated"
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        140
      ],
      "id": "5a883aaa-a41f-4727-8760-ea9f7ee370fb",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "H7gBYI0882wHbHuj",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "959f66ad-d829-471b-b550-de810d6aa3f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a7768f440ade0a2b28d40a60ece3f742820c5bce032f24338b052ce588ae8e2f"
  },
  "id": "ahjmcuoUH3rrr47s",
  "tags": [
    {
      "createdAt": "2025-07-13T09:55:24.123Z",
      "updatedAt": "2025-07-13T09:55:24.123Z",
      "id": "etQj19bs2MHRs4Sm",
      "name": "delete"
    }
  ]
}